<div class="container pt-4">
  <h1>Restaurants</h1>
  <ul>
    <% @restaurants.each do |r|%>
      <li><%= link_to r.name, restaurant_path(r.id) %></li>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Add new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
</div>
